
<nav id="sidebar" role="navigation" aria-label="Main navigation">
    <div class="inner">
        <div class="dashboard-links">
            <ul>
            {% for link in nav_links %}
                <li class="icon-{{link.icon}}{% if app.request.getRequestUri() starts with link.href %} active{% endif %}">
                    <a {% if app.request.getRequestUri() starts with link.href %}aria-current="page"{% endif %} href="{{ link.href }}">{{ link.label }}</a>
                </li>
            {% endfor %}
            </ul>
        </div>
        <div class="account-links">
            <div class="user-profile">
                <img src="{{ asset('build/images/less-serious-avatar.jpg') }}" alt="Doge">
                <span>Paula G</span>
            </div>
            <ul>
            {% for link in account_links %}
                <li class="icon-{{link.icon}}{% if app.request.getRequestUri() starts with link.href %} active{% endif %}">
                    <a {% if app.request.getRequestUri() starts with link.href %}aria-current="page"{% endif %} href="{{ link.href }}">{{ link.label }}</a>
                </li>
            {% endfor %}
            </ul>
        </div>
    </div>
</nav>